# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives__

- learning Data Science languages
- learning Data Science Open Source Tools
- learning Data Science Commercial Tools

Some of the commonly used libraries used by Data Scientists include:

1. Python
2. R
3. JavaScript 
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Scientific Computing Libraries
2. Deep Learning Libraries
3. Visualization Libraries

| Data Science Tools |
----------------------
1- MongoDB
2- Kafka
3- OpenShift

###  Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Auther:
Jamal Hagi